/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* HEADER */
header, footer{
    padding: 30px 0;
    background-color: antiquewhite;
}
.container{
    max-width: 65%;
    margin: auto;
}

header .container, footer .container{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-right button,.header-right select{
    padding: 5px 10px;
}
/* MAIN */
main{
    background-color:lightblue;
}
.field{
    padding: 50px 150px;
    min-height:calc(100vh - 178px) ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; 
    flex-flow: row wrap;
}

.box{
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(97, 96, 96);
    height: 75px;
    width: 75px;
    border-radius: 10px;
    border: 1px solid black;
}

.box.bomb{
    background-color: rgb(255, 0, 0);
}
.box.clear{
    background-color: green;
}
/* modal */
.overlay-modal{
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.411)
}
.modal{
    z-index: 100;
    display: none;
    position: fixed;
    height: 300px;
    width: 400px;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.425);

}
.active{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    padding: 0 50px;
}